test-data/IODD_research/IO-Device-Desc-Spec_10012_V114_Jun24_Update202507/Schemas/IOL-ProfileDefinition1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.io-link.com/IODD/2010/10" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iodd="http://www.io-link.com/IODD/2010/10" targetNamespace="http://www.io-link.com/IODD/2010/10" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:annotation>
		<xsd:documentation>This schema is for the profile related IODD snippets.</xsd:documentation>
		<xsd:appinfo>
			<schemainfo versiondate="20250206"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="IODDProfileDefinitions" type="IODDProfileDefinitionsT">
		<!-- unique, key -->
		<xsd:unique name="All_Datatype_Id">
			<xsd:selector xpath=".//iodd:Datatype"/>
			<xsd:field xpath="@id"/>
		</xsd:unique>
		<xsd:key name="Datatype_Id">
			<xsd:selector xpath=".//iodd:DatatypeCollection/iodd:Datatype"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<!-- <xsd:key name="Variable_Id">
			<xsd:selector xpath=".//iodd:StdVariableRef|.//iodd:DirectParameterOverlay|.//iodd:Variable"/>
			<xsd:field xpath="@id"/>
		</xsd:key> -->
		<!-- <xsd:unique name="Variable_Index">
			<xsd:selector xpath=".//iodd:Variable"/>
			<xsd:field xpath="@index"/>
		</xsd:unique> -->
		<xsd:key name="ProcessData_Id">
			<xsd:selector xpath=".//iodd:ProcessDataIn|.//iodd:ProcessDataOut"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<!-- <xsd:key name="Menu_Id">
			<xsd:selector xpath=".//iodd:Menu"/>
			<xsd:field xpath="@id"/>
		</xsd:key> -->
		<xsd:key name="PrimaryLanguage_Id">
			<xsd:selector xpath=".//iodd:PrimaryLanguage/iodd:Text"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<!-- keyref -->
		<!-- <xsd:keyref name="_TextId" refer="PrimaryLanguage_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@textId"/>
		</xsd:keyref> -->
		<!-- <xsd:keyref name="_VariableId" refer="Variable_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@variableId"/>
		</xsd:keyref> -->
		<!-- <xsd:keyref name="_DatatypeId" refer="Datatype_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@datatypeId"/>
		</xsd:keyref> -->
		<xsd:keyref name="_ProcessDataId" refer="ProcessData_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@processDataId"/>
		</xsd:keyref>
		<!-- <xsd:keyref name="_MenuId" refer="Menu_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@menuId"/>
		</xsd:keyref> -->
	</xsd:element>

	<xsd:complexType name="IODDProfileDefinitionsT">
		<xsd:sequence>
			<xsd:element name="DocumentInfo" type="DocumentInfoT"/>
			<xsd:element name="SupportedProfiles" type="SupportedProfilesT">
				<xsd:unique name="SupportedProfiles_id">
					<xsd:selector xpath="iodd:ProfileVariant|iodd:FunctionClass"/>
					<xsd:field xpath="@id"/>
				</xsd:unique>
				<xsd:unique name="SupportedProfiles_profileId">
					<xsd:selector xpath="iodd:ProfileVariant|iodd:FunctionClass"/>
					<xsd:field xpath="@profileId"/>
					<xsd:field xpath="@profileContext"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="DatatypeCollection" type="DatatypeCollectionT" minOccurs="0"/>
			<xsd:element name="VariableCollection" type="VariableCollectionT"/>
			<xsd:element name="ProcessDataCollection" type="ProcessDataCollectionT" minOccurs="0">
				<xsd:unique name="AllProcessData_Id">
					<xsd:selector xpath="iodd:ProcessData|iodd:ProcessData/iodd:ProcessDataIn|iodd:ProcessData/iodd:ProcessDataOut"/>
					<xsd:field xpath="@id"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="ErrorTypeCollection" type="ErrorTypeCollectionT" minOccurs="0">
				<xsd:unique name="ErrorType_code">
					<xsd:selector xpath="iodd:StdErrorTypeRef|iodd:ErrorType"/>
					<xsd:field xpath="@code"/>
					<xsd:field xpath="@additionalCode"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="EventCollection" type="EventCollectionT" minOccurs="0">
				<xsd:unique name="Event_code">
					<xsd:selector xpath="iodd:StdEventRef|iodd:Event"/>
					<xsd:field xpath="@code"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="UserInterface" type="UserInterfaceT"/>
			<xsd:element name="ExternalTextCollection" type="ExternalTextCollectionT">
				<xsd:unique name="Language">
					<xsd:selector xpath="iodd:PrimaryLanguage|iodd:Language"/>
					<xsd:field xpath="@xml:lang"/>
				</xsd:unique>
			</xsd:element>
 		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SupportedProfilesT">
			<xsd:sequence>
				<xsd:element name="ProfileVariant" type="ProfileVariantT" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="FunctionClass" type="FunctionClassT" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		<xsd:attribute name="profileCharacteristic" type="ValueListT" use="required"/>
		<xsd:attribute name="profileClassName" type="xsd:string"/>
		<xsd:attribute name="profilePrefixes">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([A-Za-z][A-Za-z0-9 _-]*)(, +[A-Za-z][A-Za-z0-9 _-]*)*"/> <!-- comma-separated list of IdT, relaxed for prefix -->
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="reservedIndexRange" type="ValueListT"/>
		<xsd:attribute name="reservedSystemCommands" type="ValueListT"/>
		<xsd:attribute name="reservedEvents" type="ValueListT"/>
		<xsd:attribute name="requiredProfile" type="ValueListT"/>
	</xsd:complexType>

	<xsd:complexType name="ProfileVariantT">
		<xsd:attribute name="id" type="IdT" use="required"/>
		<xsd:attribute name="profileId" type="xsd:unsignedShort" use="required"/>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="profileOption" type="XorValueListT"/>
		<xsd:attribute name="info" type="xsd:string"/>
	</xsd:complexType>
  
  <xsd:complexType name="FunctionClassT">
		<xsd:attribute name="id" type="IdT" use="required"/>
		<xsd:attribute name="profileId" type="xsd:unsignedShort" use="required"/>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="profileContext" type="ValueListT" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="ProcessDataCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="ProcessData" type="ProcessDataT" maxOccurs="unbounded">
						<xsd:unique name="ProcessDataIn_profileConstraints">
							<xsd:selector xpath="iodd:ProcessDataIn"/>
							<xsd:field xpath="@profileConstraints"/>
						</xsd:unique>
						<xsd:unique name="ProcessDataOut_profileConstraints">
							<xsd:selector xpath="iodd:ProcessDataOut"/>
							<xsd:field xpath="@profileConstraints"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="checkElement" type="ElementChecksT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ProcessDataT">
		<xsd:complexContent>
			<xsd:extension base="ObjectT">
				<xsd:sequence>
					<xsd:element name="Condition" type="ConditionT" minOccurs="0"/>
					<xsd:element name="ProcessDataIn" type="ProcessDataItemT" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="ProcessDataOut" type="ProcessDataItemT" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="checkElement" type="ElementChecksT"/>
				<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ProcessDataItemT">
		<xsd:complexContent>
			<xsd:extension base="DataItemT">
				<xsd:sequence>
					<xsd:element name="Name" type="TextRefT"/>
				</xsd:sequence>
				<xsd:attribute name="bitLength" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="BitCountT">
									<xsd:minInclusive value="1"/>
									<xsd:maxInclusive value="256"/>
								</xsd:restriction>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="ValueListT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d+\.\.\d+|\d+)(, *(\d+\.\.\d+|\d+))*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="XorValueListT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d+( XOR \d+)+|\d+\.\.\d+|\d+)(, *(\d+( XOR \d+)+|\d+\.\.\d+|\d+))*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TbdValueListT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="#tbd(#| ?(-?\d+\.\.-?\d+|-?\d+)(, *(-?\d+\.\.-?\d+|-?\d+))* ?#)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ElementChecksT">
		<xsd:restriction base="xsd:string">
      <xsd:pattern value="((minOccurs +\d+|maxOccurs +\d+)(, (exact|atLeast|atLeastSequence))?)|(exact|atLeast|atLeastSequence)"/>
    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="AttributeChecksT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="((option|startsWith|notEmpty) +[a-z][0-9A-Za-z]*)(, +(option|startsWith|notEmpty) +[a-z][0-9A-Za-z]*)*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ProfileConstraintsT">
		<xsd:restriction base="xsd:string">
      <xsd:pattern value="(PR_[A-Za-z0-9]+|FC_[A-Za-z0-9]+)( AND (PR_[A-Za-z0-9]+|FC_[A-Za-z0-9]+))?(, (PR_[A-Za-z0-9]+|FC_[A-Za-z0-9]+)( AND (PR_[A-Za-z0-9]+|FC_[A-Za-z0-9]+))?)*"/>
    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ContextConstraintsT">
		<xsd:restriction base="xsd:string">
      <!--<xsd:pattern value="(IdentificationMenu|ParameterMenu|ObservationMenu|DiagnosisMenu)"/>-->
      <xsd:enumeration value="IdentificationMenu"/>
      <xsd:enumeration value="ParameterMenu"/>
      <xsd:enumeration value="ObservationMenu"/>
      <xsd:enumeration value="DiagnosisMenu"/>
    </xsd:restriction>
	</xsd:simpleType>

<!-- from IODD-Events1.1.xsd -->

	<xsd:complexType name="EventCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="StdEventRef" type="StdEventRefT" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Event" type="EventDescT" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="checkElement" type="ElementChecksT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StdEventRefT">
		<xsd:attribute name="code" type="xsd:unsignedShort" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="EventDescT">
		<xsd:sequence>
			<xsd:element name="Name" type="TextRefT"/>
			<xsd:element name="Description" type="TextRefT" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="code" type="xsd:unsignedShort" use="required"/>
		<xsd:attribute name="type" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Notification"/>
					<xsd:enumeration value="Warning"/>
					<xsd:enumeration value="Error"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="ErrorTypeCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="StdErrorTypeRef" type="StdErrorTypeRefT" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="ErrorType" type="ErrorType129T" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StdErrorTypeRefT">
		<xsd:attribute name="code" type="xsd:unsignedByte" fixed="128"/>
		<xsd:attribute name="additionalCode" type="xsd:unsignedByte" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="ErrorType129T">
		<xsd:complexContent>
			<xsd:restriction base="ErrorTypeT">
				<xsd:sequence>
					<xsd:element name="Name" type="TextRefT"/>
					<xsd:element name="Description" type="TextRefT" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="code" type="xsd:unsignedByte" fixed="129"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ErrorTypeT">
		<xsd:sequence>
			<xsd:element name="Name" type="TextRefT"/>
			<xsd:element name="Description" type="TextRefT" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="code" type="xsd:unsignedByte"/>
		<xsd:attribute name="additionalCode" type="xsd:unsignedByte" use="required"/>
	</xsd:complexType>

<!-- from IODD-UserInterface1.1.xsd -->

	<xsd:complexType name="UserInterfaceT">
		<xsd:sequence>
			<xsd:element name="ProcessDataRefCollection" type="ProcessDataRefCollectionT" minOccurs="0">
				<xsd:unique name="ProcessDataRef_processDataId">
					<xsd:selector xpath="iodd:ProcessDataRef"/>
					<xsd:field xpath="@processDataId"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="MenuCollection" type="MenuCollectionT"/>
			<xsd:element name="ObserverRoleMenuSet" type="MenuSetT"/>
			<xsd:element name="MaintenanceRoleMenuSet" type="MenuSetT"/>
			<xsd:element name="SpecialistRoleMenuSet" type="MenuSetT"/>
		</xsd:sequence>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="MenuSetT">
		<xsd:sequence>
			<xsd:element name="IdentificationMenu" type="UIMenuRefSimpleT" minOccurs="0"/>
			<xsd:element name="ParameterMenu" type="UIMenuRefSimpleT" minOccurs="0"/>
			<xsd:element name="ObservationMenu" type="UIMenuRefSimpleT" minOccurs="0"/>
			<xsd:element name="DiagnosisMenu" type="UIMenuRefSimpleT" minOccurs="0"/>
		</xsd:sequence>
    <xsd:attribute name="checkElement" type="ElementChecksT"/>
  </xsd:complexType>

	<xsd:complexType name="MenuT">
		<xsd:sequence>
			<xsd:element name="Name" type="TextRefT" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="VariableRef" type="UIVariableRefT"/>
				<xsd:element name="RecordItemRef" type="UIRecordItemRefT"/>
				<xsd:element name="MenuRef" type="UIMenuRefT"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="id" type="IdT" use="required"/>
		<xsd:attribute name="contextConstraints" type="ContextConstraintsT"/>
		<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="MenuCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="Menu" type="MenuT" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="checkElement" type="ElementChecksT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ProcessDataRefCollectionT">
		<xsd:sequence>
			<xsd:element name="ProcessDataRef" type="ProcessDataRefT" maxOccurs="unbounded">
				<!-- <xsd:unique name="ProcessDataRecordItemInfo_subindex">
					<xsd:selector xpath="iodd:ProcessDataRecordItemInfo"/>
					<xsd:field xpath="@subindex"/>
				</xsd:unique> -->
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="ProcessDataRefT">
		<xsd:choice maxOccurs="2">
			<xsd:element name="ProcessDataInfo" type="ProcessDataInfoT"/>
			<xsd:element name="ProcessDataRecordItemInfo" type="ProcessDataRecordItemInfoT" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="processDataId" type="RefT" use="required"/>
		<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="ProcessDataInfoT">
		<xsd:attribute name="gradient">
			<xsd:simpleType>
				<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal"/>
			</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="offset">
			<xsd:simpleType>
				<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal"/>
			</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="unitCode">
			<xsd:simpleType>
				<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger"/>
			</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="displayFormat">
			<xsd:simpleType>
				<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="Bin|Hex|Dec(\.\d)?"/>
				</xsd:restriction>
			</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
		<xsd:attribute name="contextConstraints" type="ContextConstraintsT"/> <!-- correct type? -->
		<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
	</xsd:complexType>

	<xsd:complexType name="ProcessDataRecordItemInfoT">
		<xsd:complexContent>
			<xsd:extension base="ProcessDataInfoT">
				<xsd:attribute name="subindex" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="SubindexT"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UIDataItemRefT" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ProcessDataInfoT">
				<xsd:sequence>
					<xsd:element name="Button" type="ButtonT" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="variableId" type="RefT" use="required"/>
				<xsd:attribute name="accessRightRestriction" type="AccessRightsT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ButtonT">
		<xsd:sequence>
			<xsd:element name="Description" type="TextRefT" minOccurs="0"/>
			<xsd:element name="ActionStartedMessage" type="TextRefT" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="buttonValue" use="required">
			<xsd:simpleType>
				<xsd:union memberTypes="xsd:boolean xsd:unsignedLong xsd:long"/>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="UIVariableRefT">
		<xsd:complexContent>
			<xsd:extension base="UIDataItemRefT"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UIRecordItemRefT">
		<xsd:complexContent>
			<xsd:extension base="UIDataItemRefT">
				<xsd:attribute name="subindex" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="SubindexT"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UIMenuRefSimpleT">
		<xsd:attribute name="menuId" type="RefT" use="required"/>
		<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="UIMenuRefT">
		<xsd:complexContent>
			<xsd:extension base="UIMenuRefSimpleT">
				<xsd:sequence>
					<xsd:element name="Condition" type="ConditionT" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

<!-- from IODD-Variables1.1.xsd -->

	<xsd:complexType name="VariableCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="StdVariableRef" type="StdVariableRefT" minOccurs="0" maxOccurs="unbounded">
						<xsd:unique name="StdVariableRef_value">
							<xsd:selector xpath="iodd:StdSingleValueRef|iodd:SingleValue|iodd:ValueRange"/>
							<xsd:field xpath="@value|@lowerValue"/>
							<xsd:field xpath="@profileConstraints"/>
						</xsd:unique>
						<xsd:unique name="StdVariableRef_StdRecordItemRef_Subindex">
							<xsd:selector xpath="iodd:StdRecordItemRef"/>
							<xsd:field xpath="@subindex"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="Variable" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="VariableT">
									<xsd:attribute name="defaultValue"/>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
						<xsd:unique name="Variable_RecordItemInfo_Subindex">
							<xsd:selector xpath="iodd:RecordItemInfo"/>
							<xsd:field xpath="@subindex"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="checkElement" type="ElementChecksT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StdVariableRefT">
		<xsd:complexContent>
			<xsd:extension base="StdDataItemRefT">
				<xsd:sequence>
					<xsd:element name="StdRecordItemRef" type="StdRecordItemRefT" minOccurs="0" maxOccurs="unbounded">
						<xsd:unique name="StdRecordItemRef_value">
							<xsd:selector xpath="iodd:StdSingleValueRef|iodd:SingleValue|iodd:ValueRange"/>
							<xsd:field xpath="@value|@lowerValue"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="id" type="IdT" use="required"/>
				<xsd:attribute name="fixedLengthRestriction">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="SubindexT"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="excludedFromDataStorage" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StdRecordItemRefT">
		<xsd:complexContent>
			<xsd:extension base="StdDataItemRefT">
				<xsd:attribute name="subindex" type="SubindexT" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StdDataItemRefT" abstract="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="StdSingleValueRef" type="StdSingleValueRefT"/>
			<xsd:element name="SingleValue">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="SingleValueT">
							<xsd:attribute name="value" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ValueRange">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ValueRangeT">
							<xsd:attribute name="lowerValue" use="required"/>
							<xsd:attribute name="upperValue" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="defaultValue"/> <!-- no need for union with "#tbd#" as it is already allowed -->
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
		<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
	</xsd:complexType>

	<xsd:complexType name="StdSingleValueRefT">
		<xsd:attribute name="value" use="required"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
	</xsd:complexType>

	<xsd:complexType name="VariableT">
		<xsd:complexContent>
			<xsd:extension base="AbstractVariableT">
				<xsd:attribute name="index" type="xsd:unsignedShort" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AbstractVariableT">
		<xsd:complexContent>
			<xsd:extension base="DataItemT">
				<xsd:sequence>
					<xsd:element name="RecordItemInfo" type="RecordItemInfoT" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Name" type="TextRefT"/>
					<xsd:element name="Description" type="TextRefT" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="accessRights" type="AccessRightsT" use="required"/>
				<xsd:attribute name="dynamic" type="xsd:boolean" default="false"/>
				<xsd:attribute name="modifiesOtherVariables" type="xsd:boolean" default="false"/>
				<xsd:attribute name="excludedFromDataStorage" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RecordItemInfoT">
		<xsd:attribute name="subindex" type="SubindexT" use="required"/>
		<xsd:attribute name="defaultValue"/>
		<xsd:attribute name="modifiesOtherVariables" type="xsd:boolean" default="false"/>
		<xsd:attribute name="excludedFromDataStorage" type="xsd:boolean" default="false"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
    <xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
  </xsd:complexType>

	<xsd:complexType name="DataItemT">
		<xsd:complexContent>
			<xsd:extension base="ObjectT">
				<xsd:choice>
					<xsd:element name="Datatype" type="DatatypeT">
						<xsd:unique name="DatatypeRecord_Subindex">
							<xsd:selector xpath="iodd:RecordItem"/>
							<xsd:field xpath="@subindex"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="DatatypeRef" type="DatatypeRefT"/>
				</xsd:choice>
				<xsd:attribute name="checkElement" type="ElementChecksT"/>
				<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
				<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

<!-- from IODD-Datatypes1.1.xsd -->

	<xsd:complexType name="DatatypeCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="Datatype" type="DatatypeT" maxOccurs="unbounded">
						<!-- <xsd:unique name="DatatypeCollectionRecord_Subindex">
							<xsd:selector xpath="iodd:RecordItem"/>
							<xsd:field xpath="@subindex"/>
						</xsd:unique> -->
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DatatypeT" abstract="true">
		<xsd:attribute name="id" type="IdT"/>
    <xsd:attribute name="checkElement" type="ElementChecksT"/>
    <xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
  </xsd:complexType>

	<xsd:complexType name="DatatypeRefT">
		<xsd:attribute name="datatypeId" type="RefT" use="required"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
    <xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
  </xsd:complexType>

	<xsd:complexType name="SimpleDatatypeT" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="DatatypeT"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ComplexDatatypeT" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="DatatypeT">
				<xsd:attribute name="subindexAccessSupported" type="xsd:boolean" default="true"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ArrayT">
		<xsd:complexContent>
			<xsd:extension base="ComplexDatatypeT">
				<xsd:choice>
					<xsd:element name="SimpleDatatype" type="SimpleDatatypeT">
						<xsd:unique name="Array_SimpleDatatype_Value">
							<xsd:selector xpath="iodd:SingleValue|iodd:ValueRange"/>
							<xsd:field xpath="@value|@lowerValue"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="DatatypeRef" type="DatatypeRefT"/>
				</xsd:choice>
				<xsd:attribute name="count" type="SubindexT" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RecordT">
		<xsd:complexContent>
			<xsd:extension base="ComplexDatatypeT">
				<xsd:sequence maxOccurs="unbounded">
					<xsd:element name="RecordItem" type="RecordItemT"/>
				</xsd:sequence>
				<xsd:attribute name="bitLength" use="required">
					<xsd:simpleType>
						<xsd:union>
					<xsd:simpleType>
						<xsd:restriction base="BitCountT">
							<xsd:minInclusive value="1"/>
							<xsd:maxInclusive value="1856"/>
						</xsd:restriction>
					</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RecordItemT">
		<xsd:sequence>
			<xsd:choice maxOccurs="2">
				<xsd:element name="SimpleDatatype" type="SimpleDatatypeT">
					<!-- <xsd:unique name="RecordItem_SimpleDatatype_Value">
						<xsd:selector xpath="iodd:SingleValue|iodd:ValueRange"/>
						<xsd:field xpath="@value|@lowerValue"/>
					</xsd:unique> -->
				</xsd:element>
				<xsd:element name="DatatypeRef" type="DatatypeRefT"/>
			</xsd:choice>
			<xsd:element name="Name" type="TextRefT"/>
			<xsd:element name="Description" type="TextRefT" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="subindex" use="required">
			<xsd:simpleType>
				<xsd:union>
					<xsd:simpleType>
						<xsd:restriction base="SubindexT"/>
					</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="bitOffset" use="required">
			<xsd:simpleType>
				<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="BitCountT">
					<xsd:maxInclusive value="1855"/>
				</xsd:restriction>
			</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="accessRightRestriction" type="AccessRightsT"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
    <xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
  </xsd:complexType>

	<xsd:complexType name="NumberT" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="SimpleDatatypeT"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="IntegerT">
		<xsd:complexContent>
			<xsd:extension base="NumberT">
				<xsd:sequence>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="SingleValue" type="IntegerValueT"/>
						<xsd:element name="ValueRange" type="IntegerValueRangeT"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="bitLength" use="required">
					<xsd:simpleType>
						<xsd:restriction base="BitCountT">
							<xsd:minInclusive value="2"/>
							<xsd:maxInclusive value="64"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UIntegerT">
		<xsd:complexContent>
			<xsd:extension base="NumberT">
				<xsd:sequence>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="SingleValue" type="UIntegerValueT"/>
						<xsd:element name="ValueRange" type="UIntegerValueRangeT"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="bitLength" use="required">
					<xsd:simpleType>
						<xsd:restriction base="BitCountT">
							<xsd:minInclusive value="2"/>
							<xsd:maxInclusive value="64"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Float32T">
		<xsd:complexContent>
			<xsd:extension base="NumberT">
				<xsd:sequence>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="SingleValue" type="Float32ValueT"/>
						<xsd:element name="ValueRange" type="Float32ValueRangeT"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BooleanT">
		<xsd:complexContent>
			<xsd:extension base="SimpleDatatypeT">
				<xsd:sequence>
					<xsd:element name="SingleValue" type="BooleanValueT" minOccurs="0" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="any">
		<xsd:complexContent>
			<xsd:extension base="NumberT">
				<xsd:sequence>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="SingleValue" type="TbdValueT"/>
						<xsd:element name="ValueRange" type="TbdValueRangeT"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="bitLength" type="BitCountT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="TbdValueT">
		<xsd:complexContent>
			<xsd:extension base="SingleValueT">
				<xsd:attribute name="value" use="required"/> <!-- any type allowed -->
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="TbdValueRangeT">
		<xsd:complexContent>
			<xsd:extension base="ValueRangeT">
				<xsd:attribute name="lowerValue" use="required"/> <!-- any type allowed -->
				<xsd:attribute name="upperValue" use="required"/> <!-- any type allowed -->
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OctetStringT">
		<xsd:complexContent>
			<xsd:extension base="SimpleDatatypeT">
				<xsd:attribute name="fixedLength" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="IsduLengthT"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StringT">
		<xsd:complexContent>
			<xsd:extension base="SimpleDatatypeT">
				<xsd:attribute name="fixedLength" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="IsduLengthT"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="encoding" type="CharacterEncodingT" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AbstractValueT" abstract="true">
		<xsd:sequence>
			<xsd:element name="Name" type="TextRefT" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="profileConstraints" type="ProfileConstraintsT"/>
	</xsd:complexType>

	<xsd:complexType name="SingleValueT" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="AbstractValueT"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ValueRangeT" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="AbstractValueT"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BooleanValueT">
		<xsd:complexContent>
			<xsd:extension base="SingleValueT">
				<xsd:attribute name="value" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="IntegerValueT">
		<xsd:complexContent>
			<xsd:extension base="SingleValueT">
				<xsd:attribute name="value" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:long"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="IntegerValueRangeT">
		<xsd:complexContent>
			<xsd:extension base="ValueRangeT">
				<xsd:attribute name="lowerValue" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:long"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="upperValue" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:long"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UIntegerValueT">
		<xsd:complexContent>
			<xsd:extension base="SingleValueT">
				<xsd:attribute name="value" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:unsignedLong"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UIntegerValueRangeT">
		<xsd:complexContent>
			<xsd:extension base="ValueRangeT">
				<xsd:attribute name="lowerValue" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:unsignedLong"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="upperValue" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:unsignedLong"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Float32ValueT">
		<xsd:complexContent>
			<xsd:extension base="SingleValueT">
				<xsd:attribute name="value" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:float"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/> <!-- TBD TbdFloatValueList -->
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Float32ValueRangeT">
		<xsd:complexContent>
			<xsd:extension base="ValueRangeT">
				<xsd:attribute name="lowerValue" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:float"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="upperValue" use="required">
					<xsd:simpleType>
						<xsd:union>
							<xsd:simpleType>
								<xsd:restriction base="xsd:float"/>
							</xsd:simpleType>
							<xsd:simpleType>
								<xsd:restriction base="TbdValueListT"/>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

<!-- from IODD-Primitives1.1.xsd -->

	<xsd:simpleType name="IdT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z][A-Za-z0-9 _-]*(#tbd#)?|#tbd#"/> <!-- relaxed from [A-Za-z][A-Za-z0-9 _-]*[A-Za-z0-9] to allow also a prefix -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RefT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z][A-Za-z0-9 _-]*(#tbd#)?|#tbd#"/> <!-- relaxed from [A-Za-z][A-Za-z0-9 _-]*[A-Za-z0-9] to allow also a prefix -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="VersionT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="V\d+(\.\d+){1,7}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="AccessRightsT">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ro"/>
			<xsd:enumeration value="rw"/>
			<xsd:enumeration value="wo"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SubindexT">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="BitCountT">
		<xsd:restriction base="xsd:unsignedShort"/>
	</xsd:simpleType>

	<xsd:simpleType name="IsduLengthT">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="232"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CharacterEncodingT">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UTF-8"/>
			<xsd:enumeration value="US-ASCII"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="CollectionT"/>

	<xsd:complexType name="ObjectT">
		<xsd:attribute name="id" type="IdT" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="TextDefinitionT">
		<xsd:attribute name="id" type="IdT" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="TextRefT">
		<xsd:attribute name="textId" type="RefT" use="required"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="ConditionT">
		<xsd:attribute name="variableId" type="RefT" use="required"/>
		<xsd:attribute name="subindex">
			<xsd:simpleType>
				<xsd:union>
					<xsd:simpleType>
						<xsd:restriction base="SubindexT"/>
					</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="value" use="required">
			<xsd:simpleType>
				<xsd:union>
					<xsd:simpleType>
						<xsd:restriction base="xsd:unsignedByte"/>
					</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="TbdValueListT"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
		<xsd:attribute name="checkAttributes" type="AttributeChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="DocumentInfoT">
		<xsd:annotation>
			<xsd:documentation>This type defines document information.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="version" type="VersionT" use="required"/>
		<xsd:attribute name="releaseDate" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:date">
					<xsd:pattern value="\d{4}-\d{2}-\d{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="copyright" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="ExternalTextCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="PrimaryLanguage" type="PrimaryLanguageT">
						<xsd:unique name="Primary_LanguageRedefine_id">
							<xsd:selector xpath="iodd:TextRedefine"/>
							<xsd:field xpath="@id"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="Language" type="LanguageT" minOccurs="0" maxOccurs="unbounded">
						<xsd:unique name="Language_id">
							<xsd:selector xpath="iodd:Text"/>
							<xsd:field xpath="@id"/>
						</xsd:unique>
						<xsd:unique name="LanguageRedefine_id">
							<xsd:selector xpath="iodd:TextRedefine"/>
							<xsd:field xpath="@id"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LanguageT">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Text" type="TextDefinitionT"/>
			<xsd:element name="TextRedefine" type="TextDefinitionT"/>
		</xsd:choice>
		<xsd:attribute ref="xml:lang" use="required"/>
		<xsd:attribute name="checkElement" type="ElementChecksT"/>
	</xsd:complexType>

	<xsd:complexType name="PrimaryLanguageT">
		<xsd:complexContent>
			<xsd:restriction base="LanguageT">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element name="Text" type="TextDefinitionT"/>
					<xsd:element name="TextRedefine" type="TextDefinitionT"/>
				</xsd:choice>
			</xsd:restriction>
			<!-- <xsd:attribute ref="xml:lang" use="required" fixed="en"/> -->
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>
