test-data/IODD_research/IODD1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.io-link.com/IODD/2009/11" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iodd="http://www.io-link.com/IODD/2009/11" targetNamespace="http://www.io-link.com/IODD/2009/11" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xsd:include schemaLocation="IODD-Primitives1.0.1.xsd"/>
	<xsd:include schemaLocation="IODD-Datatypes1.0.1.xsd"/>
	<xsd:include schemaLocation="IODD-Variables1.0.1.xsd"/>
	<xsd:include schemaLocation="IODD-UserInterface1.0.1.xsd"/>
	<xsd:include schemaLocation="IODD-Communication1.0.1.xsd"/>
	<xsd:include schemaLocation="IODD-Events1.0.1.xsd"/>
	<xsd:element name="IODevice">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentInfo" type="DocumentInfoT"/>
				<xsd:element name="ProfileHeader" type="ProfileHeaderT"/>
				<xsd:element name="ProfileBody" type="ProfileBodyT"/>
				<xsd:element name="CommNetworkProfile" type="CommNetworkProfileT"/>
				<xsd:element name="ExternalTextCollection" type="ExternalTextCollectionT">
					<xsd:unique name="Language">
						<xsd:selector xpath="iodd:PrimaryLanguage|iodd:Language"/>
						<xsd:field xpath="@xml:lang"/>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="Stamp" type="StampT">
					<xsd:annotation>
						<xsd:documentation>Filled out by the IODD Checker.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<!-- unique, key -->
		<xsd:unique name="All_Datatype_Id">
			<xsd:selector xpath=".//iodd:Datatype"/>
			<xsd:field xpath="@id"/>
		</xsd:unique>
		<xsd:key name="Datatype_Id">
			<xsd:selector xpath=".//iodd:DatatypeCollection/iodd:Datatype"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:key name="Variable_Id">
			<xsd:selector xpath=".//iodd:StdVariableRef|.//iodd:StdDirectParameterRef|.//iodd:Variable"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:unique name="Variable_Index">
			<xsd:selector xpath=".//iodd:Variable"/>
			<xsd:field xpath="@index"/>
		</xsd:unique>
		<xsd:key name="Menu_Id">
			<xsd:selector xpath=".//iodd:Menu"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:key name="PrimaryLanguage_Id">
			<xsd:selector xpath=".//iodd:PrimaryLanguage/iodd:Text"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<!-- keyref -->
		<xsd:keyref name="_TextId" refer="PrimaryLanguage_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@textId"/>
		</xsd:keyref>
		<xsd:keyref name="_VariableId" refer="Variable_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@variableId"/>
		</xsd:keyref>
		<xsd:keyref name="_DatatypeId" refer="Datatype_Id">
			<xsd:selector xpath=".//*"/>
			<xsd:field xpath="@datatypeId"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="ProfileHeaderT">
		<xsd:sequence>
			<xsd:element name="ProfileIdentification">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="IO-Link Device Profile"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ProfileRevision">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\d+(\.\d+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ProfileName">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Device Profile for IO-Link Devices"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ProfileSource">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="IO-Link Consortium"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ProfileClassID">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="Device"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ISO15745Reference">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ISO15745Part" type="xsd:positiveInteger"/>
						<xsd:element name="ISO15745Edition" type="xsd:positiveInteger"/>
						<xsd:element name="ProfileTechnology" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProfileBodyT">
		<xsd:sequence>
			<xsd:element name="DeviceIdentity" type="DeviceIdentityT"/>
			<xsd:element name="DeviceFunction" type="DeviceFunctionT"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeviceIdentityT">
		<xsd:sequence>
			<xsd:element name="VendorText" type="TextRefT"/>
			<xsd:element name="VendorUrl" type="TextRefT"/>
			<xsd:element name="VendorLogo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This logo shall be available as PNG, 160x90 pixels. The filename must not have a path prefix and shall follow the naming rules.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="name" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:pattern value="([\p{L}\d_#]+-)+logo\.png"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeviceFamily" type="TextRefT"/>
			<xsd:element name="DeviceVariantCollection" type="DeviceVariantCollectionT">
				<xsd:unique name="DeviceVariant_ProductId">
					<xsd:selector xpath="iodd:DeviceVariant"/>
					<xsd:field xpath="@productId"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="vendorId" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:unsignedShort">
					<xsd:minInclusive value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="vendorName" type="xsd:string" use="required"/>
		<xsd:attribute name="deviceId" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:unsignedInt">
					<xsd:minInclusive value="1"/>
					<xsd:maxInclusive value="16777215"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DeviceVariantT">
		<xsd:sequence>
			<xsd:element name="ProductName" type="TextRefT"/>
			<xsd:element name="ProductText" type="TextRefT"/>
		</xsd:sequence>
		<xsd:attribute name="productId" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>This must be the same product ID as returned by the corresponding IO-Link index. This ensures unique identification of the device during scanning.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hardwareRevision" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Info only!</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="firmwareRevision" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Info only!</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deviceSymbol" use="optional">
			<xsd:annotation>
				<xsd:documentation>The symbol shall be available as PNG, 160x160 pixels.
The filename must not have a path prefix and shall follow the naming rules.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:pattern value="([\p{L}\d_#]+-)+pic\.png"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="deviceIcon" use="optional">
			<xsd:annotation>
				<xsd:documentation>The icon shall be available as PNG, 48x48 pixels.
The filename must not have a path prefix and shall follow the naming rules.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:pattern value="([\p{L}\d_#]+-)+icon\.png"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DeviceVariantCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="DeviceVariant" type="DeviceVariantT" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeviceFunctionT">
		<xsd:sequence>
			<xsd:element name="DatatypeCollection" type="DatatypeCollectionT" minOccurs="0"/>
			<xsd:element name="VariableCollection" type="VariableCollectionT">
				<xsd:annotation>
					<xsd:documentation>Simple collection of all variables supported by the device.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessDataCollection" type="ProcessDataCollectionT">
				<xsd:unique name="ProcessData_id">
					<xsd:selector xpath="iodd:ProcessData|iodd:ProcessData/iodd:ProcessDataIn|iodd:ProcessData/iodd:ProcessDataOut"/>
					<xsd:field xpath="@id"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="EventCollection" type="EventCollectionT" minOccurs="0">
				<xsd:unique name="Event_code">
					<xsd:selector xpath=".//iodd:Event"/>
					<xsd:field xpath="@code"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="UserInterface" type="UserInterfaceT"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DatatypeCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="Datatype" type="DatatypeT" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VariableCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="StdVariableRef" type="StdVariableRefT" minOccurs="0" maxOccurs="unbounded">
						<xsd:unique name="StdVariableRef_value">
							<xsd:selector xpath="iodd:StdSingleValueRef|iodd:StdValueRangeRef|iodd:SingleValue|iodd:ValueRange"/>
							<xsd:field xpath="@value|@lowerValue"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="StdDirectParameterRef" type="AbstractVariableT" minOccurs="0">
						<xsd:unique name="StdDirectParameterRef_RecordItemInfo_Subindex">
							<xsd:selector xpath="iodd:RecordItemInfo"/>
							<xsd:field xpath="@subindex"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="Variable" type="VariableT" minOccurs="0" maxOccurs="unbounded">
						<xsd:unique name="Variable_RecordItemInfo_Subindex">
							<xsd:selector xpath="iodd:RecordItemInfo"/>
							<xsd:field xpath="@subindex"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StdDataItemRefT" abstract="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="StdSingleValueRef" type="StdSingleValueRefT"/>
			<xsd:element name="StdValueRangeRef" type="StdValueRangeRefT"/>
			<xsd:element name="SingleValue">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="SingleValueT">
							<xsd:attribute name="value" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ValueRange">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ValueRangeT">
							<xsd:attribute name="lowerValue" use="required"/>
							<xsd:attribute name="upperValue" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="StdVariableRefT">
		<xsd:complexContent>
			<xsd:extension base="StdDataItemRefT">
				<xsd:sequence>
					<xsd:element name="StdRecordItemRef" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="StdRecordItemRefT"/>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="id" type="IdT" use="required"/>
				<xsd:attribute name="defaultValue"/>
				<xsd:attribute name="fixedLengthRestriction" type="xsd:unsignedByte"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StdRecordItemRefT">
		<xsd:complexContent>
			<xsd:extension base="StdDataItemRefT">
				<xsd:attribute name="subindex" type="SubindexT" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StdSingleValueRefT">
		<xsd:attribute name="value" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="StdValueRangeRefT">
		<xsd:attribute name="lowerValue" use="required"/>
		<xsd:attribute name="upperValue" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ProcessDataT">
		<xsd:complexContent>
			<xsd:extension base="ObjectT">
				<xsd:sequence>
					<xsd:element name="Condition" type="ConditionT" minOccurs="0"/>
					<xsd:element name="ProcessDataIn" type="ProcessDataItemT" minOccurs="0"/>
					<xsd:element name="ProcessDataOut" type="ProcessDataItemT" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessDataCollectionT">
		<xsd:complexContent>
			<xsd:extension base="CollectionT">
				<xsd:sequence>
					<xsd:element name="ProcessData" type="ProcessDataT" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessDataItemT">
		<xsd:complexContent>
			<xsd:extension base="DataItemT">
				<xsd:sequence>
					<xsd:element name="Name" type="TextRefT"/>
				</xsd:sequence>
				<xsd:attribute name="bitLength" use="required">
					<xsd:simpleType>
						<xsd:restriction base="BitCountT">
							<xsd:maxInclusive value="256"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
